APP_ID=com.dimasukharev.monkeybikes
E2E_DISPLAY_NAME=Mobile E2E User
E2E_EMAIL=mobile-e2e@example.com
E2E_PASSWORD=password123
E2E_ORDER_DISPLAY_NAME=Mobile Order E2E User
E2E_ORDER_EMAIL=mobile-order-e2e@example.com
E2E_ORDER_STARTS_ON=2026-06-01
E2E_ORDER_ENDS_ON=2026-06-02
